<li>
  <div class="flexrow">
    
    <a title="add" class="aspect-control" data-index="{{ @index }}" data-action="aspect-increase-invoke">
      <i class="fas fa-plus"></i>
    </a>

    <span class="invoke">
      {{ invoke }}
    </span>

    <a title="add" class="aspect-control" data-index="{{ @index }}" data-action="aspect-decrease-invoke">
      <i class="fas fa-minus"></i>
    </a>

    <p class="aspect-description" {{#if color}}style="color: {{ color }}" {{/if}}>
      <span class="description">
        {{ description }}
      </span>
    </p>

    {{#if (eq tag 1)}}
    <span class="tag">
      {{ localize "FateAspectTracker.aspecttrackerwindow.tags.situational" }}
    </span>
    {{/if}}
    {{#if (eq tag 2)}}
    <span class="tag">
      {{ localize "FateAspectTracker.aspecttrackerwindow.tags.boost" }}
    </span>
    {{/if}}
    {{#if (eq tag 3)}}
    <span class="tag">
      {{ localize "FateAspectTracker.aspecttrackerwindow.tags.resources" }}
    </span>
    {{/if}}


    <a title="{{ localize 'FateAspectTracker.aspecttrackerwindow.editaspect' }}" class="aspect-control" data-index="{{ @index }}"
      data-action="aspect-edit">
      <i class="fas fa-edit"></i>
    </a>
    <a title="{{ localize 'FateAspectTracker.aspecttrackerwindow.deleteaspect' }}" class="aspect-control" data-index="{{ @index }}"
      data-action="aspect-delete">
      <i class="fas fa-trash-alt"></i>
    </a>
  </div>
</li>