<form autocomplete="off">
  <section class="aspect">
    <fieldset class="form-group stacked">
      <div class="form-fields">
        <label for="fieldDescription">
          {{ localize "FateAspectTracker.aspectform.field.description" }}
        </label>
        <input type="text" id="fieldDescription" class="description" name="description" value="{{ aspect.description }}" data-dtype="String" required="true">
        <label for="fieldInvoke">
          {{ localize "FateAspectTracker.aspectform.field.invoke" }}
        </label>
        <input type="number" id="fieldInvoke" class="invoke" name="invoke" value="{{ aspect.invoke }}" data-dtype="Number" required="true">
      </div>
    </fieldset>

    <fieldset class="form-group stacked">
      <legend>{{ localize "FateAspectTracker.aspectform.customization" }}</legend>

      <div class="form-fields">
        <label for="fieldTags">
          {{ localize "FateAspectTracker.aspectform.field.tag" }}
        </label>
        <select id="fieldTags" name="tag" data-dtype="Number">
          {{#select aspect.tag}}
          <option value=0>{{ localize "FateAspectTracker.aspectform.field.tags.none" }}</option>
          <option value=1>{{ localize "FateAspectTracker.aspectform.field.tags.situation" }}</option>
          <option value=2>{{ localize "FateAspectTracker.aspectform.field.tags.boost" }}</option>
          <option value=3>{{ localize "FateAspectTracker.aspectform.field.tags.resources" }}</option>
          {{/select}}
        </select>
      </div>

      <div class="form-fields">
        <label for="fieldUseColor">
          {{ localize "FateAspectTracker.aspectform.field.color" }}
        </label>
        <input type="checkbox" id="fieldUseColor" name="useColor" data-dtype="Boolean" {{checked aspect.color}}>
        <input {{#if aspect.color}}value="{{ aspect.color }}" {{/if}} {{ tracker_disabled aspect.color }} type="color"
          id="fieldColor" name="color" data-dtype="String">
      </div>
    </fieldset>

    <input type="hidden" name="index" value="{{ index }}">
  </section>

  <hr>

  <footer>
    <button type="submit" name="submit">
      <i class="far fa-save"></i>
      {{#if index includeZero=true}}
      {{ localize "FateAspectTracker.aspectform.updateaspect" }}
      {{else}}
      {{ localize "FateAspectTracker.aspectform.createaspect" }}
      {{/if}}
    </button>
  </footer>
</form>